In [1]:
import os
import smtplib
#with smtplib.SMTP('smtp.gmail.com', 587) as smtp:
    #smtp.ehlo()
    #smtp.starttls()
    #smtp.ehlo()
server=smtplib.SMTP('smtp.gmail.com', 587)
server.starttls()
import pandas as pd
import random as rd

In [2]:
EMAIL_ADDRESS = os.environ.get('User Email')
EMAIL_PASSWORD = os.environ.get('User Password')

In [ ]:
server.login(EMAIL_ADDRES, EMAIL_PASSWORD)

In [4]:
numbers=rd.randint(1,5)
subject="#" + str(numbers)
body=rd.randint(100,200)
msg=f'Subject: {subject}\n\n{body}'

In [5]:
server.sendmail(EMAIL_ADDRES, 'Email Destination Address', msg)

{}

In [6]:
df=pd.read_csv('cs-test.txt') #This is the file that we will be looking at
df

,Unnamed: 0,SeriousDlqin2yrs,RevolvingUtilizationOfUnsecuredLines,age,NumberOfTime30-59DaysPastDueNotWorse,DebtRatio,MonthlyIncome,NumberOfOpenCreditLinesAndLoans,NumberOfTimes90DaysLate,NumberRealEstateLoansOrLines,NumberOfTime60-89DaysPastDueNotWorse,NumberOfDependents
0,1,NaN,0.885519,43,0,0.177513,5700.0,4,0,0,0,0.0
1,2,NaN,0.463295,57,0,0.527237,9141.0,15,0,4,0,2.0
2,3,NaN,0.043275,59,0,0.687648,5083.0,12,0,1,0,2.0
3,4,NaN,0.280308,38,1,0.925961,3200.0,7,0,2,0,0.0
4,5,NaN,1.000000,27,0,0.019917,3865.0,4,0,0,0,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...
101498,101499,NaN,0.282653,24,0,0.068522,1400.0,5,0,0,0,0.0
101499,101500,NaN,0.922156,36,3,0.934217,7615.0,8,0,2,0,4.0
101500,101501,NaN,0.081596,70,0,836.000000,NaN,3,0,0,0,NaN
101501,101502,NaN,0.335457,56,0,3568.000000,NaN,8,0,2,1,3.0
101502,101503,NaN,0.441842,29,0,0.198918,5916.0,12,0,0,0,0.0

In [7]:
Debt = df.DebtRatio
if Debt[1] > 0.5:
           server.sendmail(EMAIL_ADDRES, 'Email Destination Address', msg) #Send email on condition